body {
  .medium-posts {
    &.card-container {
      min-height: 30vh;
      display: flex;
      flex-wrap: wrap;
      a.card {
        flex: 50%;
        justify-content: center;
        text-align: center;
        background: center center no-repeat;
        background-size: cover;
      }
      h2 {
        &.post-title {
          background-color: rgba(0,0,0,.5);
          height: 100%;
          padding: 30px 5px;
        &:hover {
          background-color: rgba(0,0,0,.25);
          text-shadow: 2px 3px 4px #323232;
        }
        }
      }
    }
  } //closes medium-posts rule
}
@media (min-width: 1070px){
  body {
    .card-container {
      &.medium-posts {
        a.card {
          flex: 1;
        }
      }
    }
  }
}
