body {
  nav  {
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    width: 100%;
    ul {
      text-align: right;
      li{
        display: inline-block;
        a {
          display: inline-block;
          text-transform: uppercase;
          padding: 1em;
          &:hover{
            background-color: rgba(0,0,0,.3);
          }
        }
        #resume {
          &::before {
            content: "\f019";
            font-family: FontAwesome;
            font-size: 17px;
            margin-right: 8px;
          }
        }
        }
        @media (max-width: 535px) {
          text-align: center;
          font-size: 13px;
          li{
            a {
              padding: .6em;
            }
        }
      }
    }
  }
}
