body {
  .button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #0C0C0C;
  display: block;
  font-size: 18px;
  margin: 10px;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;
    &::before{
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #0C0C0C;
      font-size: 18px;
      padding-right: 0.5em;
    }
    &.gmail::before {
      content: "\f0e0";
    }
    &.twitter::before {
      content: "\f099";
    }
    &.medium::before {
      content: "\f23a"
    }
    &.github::before {
      content: "\f09b";
    }
    &.linkedin::before {
      content: "\f0e1"
    }
  }
  @media (min-width: 700px){
    .button {
      display: inline-block;
    }
  }
}
