body {
  section {
    &.updates {
      .generic-card {
        display: flex;
        min-height: 200px;
        padding: 15px;
        margin-bottom: 5px;
        &:nth-child(odd) {
          background-color: #EFEFEF;
        }
        .media-wrapper {
          display: none;
          a {
            display: block;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .text-wrapper {
          margin: auto;
          width: 100%;
          display: flex;
          flex-direction: column;
          h2, p {
            margin-bottom: 15px;
          }
          a {
            color: #5F5F5F;
          }
          span {
            &.date {
              color: #7d7d7d;
              font-size: 14px;
              font-style: italic;
              margin-top: auto;
            }
          }
        }
        @media (min-width: 700px){
          .media-wrapper {
            display: block;
            width: 25%;
            margin-right: 15px;
          }
          .text-wrapper{
            margin: inherit;
            width: 75%;
          }
        }
      }
    }
  }
}
