@charset "UTF-8";
body nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%; }
  body nav ul {
    text-align: right; }
    body nav ul li {
      display: inline-block; }
      body nav ul li a {
        display: inline-block;
        text-transform: uppercase;
        padding: 1em; }
        body nav ul li a:hover {
          background-color: rgba(0, 0, 0, 0.3); }
      body nav ul li #resume::before {
        content: "\f019";
        font-family: FontAwesome;
        font-size: 17px;
        margin-right: 8px; }
    @media (max-width: 535px) {
      body nav ul {
        text-align: center;
        font-size: 13px; }
        body nav ul li a {
          padding: .6em; } }

body .banner {
  background-image: url("./assets/images/ksenia_banner.gif");
  background-size: cover;
  background-position: left;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 99vh; }
  body .banner .content-wrapper {
    margin: auto;
    text-align: center; }
    body .banner .content-wrapper h1 {
      font-family: 'Lora', serif;
      font-size: 4.5em;
      line-height: 1.1em;
      padding-top: 22px; }
    body .banner .content-wrapper h2 {
      font-family: 'Slabo 27px', serif;
      font-size: 2em;
      letter-spacing: 1.5px;
      margin-bottom: 30px; }
@media (min-width: 700px) {
  body .banner {
    background-position: center; } }

body .portfolio {
  color: #5F5F5F; }
  body .portfolio .project {
    display: flex; }
    body .portfolio .project:nth-child(even) {
      background-color: #EFEFEF;
      flex-direction: row-reverse; }
    body .portfolio .project:nth-child(odd) img {
      float: right; }
    body .portfolio .project .col {
      width: 50%;
      padding: 3% 6%; }
    body .portfolio .project h2 {
      border-top: 3px solid #5F5F5F;
      font-size: 1.7em;
      padding: 10px 0; }
    body .portfolio .project p {
      text-align: left;
      line-height: 1.4em; }
    body .portfolio .project .project-image {
      display: block; }
      body .portfolio .project .project-image img {
        height: 300px;
        width: 300px;
        border-radius: 15px; }
@media (max-width: 700px) {
  body .portfolio .project {
    display: block; }
    body .portfolio .project .col {
      width: 100%;
      text-align: center; }
      body .portfolio .project .col h2 {
        border: none; }
    body .portfolio .project:nth-child(odd) img {
      float: none;
      max-width: 100%; }
    body .portfolio .project:nth-child(even) img {
      float: none;
      max-width: 100%; } }

body .medium-posts.card-container {
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap; }
  body .medium-posts.card-container a.card {
    flex: 50%;
    justify-content: center;
    text-align: center;
    background: center center no-repeat;
    background-size: cover; }
  body .medium-posts.card-container h2.post-title {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 30px 5px; }
    body .medium-posts.card-container h2.post-title:hover {
      background-color: rgba(0, 0, 0, 0.25);
      text-shadow: 2px 3px 4px #323232; }

@media (min-width: 1070px) {
  body .card-container.medium-posts a.card {
    flex: 1; } }
body .talks .card-container {
  color: white; }
  body .talks .card-container .card {
    padding: 1em; }
    body .talks .card-container .card h2 {
      margin-bottom: .5em;
      letter-spacing: 1px; }
    body .talks .card-container .card p {
      margin-bottom: .5em;
      line-height: 1.5em;
      letter-spacing: 0.5px; }
    body .talks .card-container .card .talk-links {
      padding-top: 2em; }
      body .talks .card-container .card .talk-links a {
        padding: .5em 1em;
        background-color: rgba(0, 0, 0, 0.2);
        margin-left: 3px; }
        body .talks .card-container .card .talk-links a:first-of-type {
          margin-left: 0; }
        body .talks .card-container .card .talk-links a:hover {
          background-color: rgba(0, 0, 0, 0.3); }
@media (min-width: 1070px) {
  body .talks .card-container {
    display: flex; }
    body .talks .card-container .card {
      display: flex;
      flex-direction: column;
      flex: 1; }
      body .talks .card-container .card .talk-links {
        margin-top: auto; } }

body section.contact {
  background-image: url("./assets/images/mountainsbw.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  text-align: center; }
  body section.contact .content {
    margin: auto;
    padding: 1.5em 1em; }
    body section.contact .content p {
      color: white;
      font-size: 1.5em;
      padding-bottom: 1em; }

body .button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #0C0C0C;
  display: block;
  font-size: 18px;
  margin: 10px;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase; }
  body .button::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #0C0C0C;
    font-size: 18px;
    padding-right: 0.5em; }
  body .button.gmail::before {
    content: "\f0e0"; }
  body .button.twitter::before {
    content: "\f099"; }
  body .button.medium::before {
    content: ""; }
  body .button.github::before {
    content: "\f09b"; }
  body .button.linkedin::before {
    content: ""; }
@media (min-width: 700px) {
  body .button {
    display: inline-block; } }

body footer {
  background-color: black;
  text-align: center;
  padding: .5em; }

body section.updates .generic-card {
  display: flex;
  min-height: 200px;
  padding: 15px;
  margin-bottom: 5px; }
  body section.updates .generic-card:nth-child(odd) {
    background-color: #EFEFEF; }
  body section.updates .generic-card .media-wrapper {
    display: none; }
    body section.updates .generic-card .media-wrapper a {
      display: block;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  body section.updates .generic-card .text-wrapper {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column; }
    body section.updates .generic-card .text-wrapper h2, body section.updates .generic-card .text-wrapper p {
      margin-bottom: 15px; }
    body section.updates .generic-card .text-wrapper a {
      color: #5F5F5F; }
    body section.updates .generic-card .text-wrapper span.date {
      color: #7d7d7d;
      font-size: 14px;
      font-style: italic;
      margin-top: auto; }
  @media (min-width: 700px) {
    body section.updates .generic-card .media-wrapper {
      display: block;
      width: 25%;
      margin-right: 15px; }
    body section.updates .generic-card .text-wrapper {
      margin: inherit;
      width: 75%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #5F5F5F; }
  body p {
    font-family: 'Open Sans', sans-serif; }
  body h1, body h2, body h3, body a {
    font-family: 'Domine', serif; }
  body a {
    text-decoration: none;
    color: white; }
  body h1.section-heading {
    background-color: #2f2f2f;
    text-align: center;
    text-transform: uppercase;
    padding: .5em; }

/*# sourceMappingURL=App.css.map */
